{% extends "website/base.html" %}
{%block content %}
<div class="card">
    <h5 class="card-header">We are Northfield ❤</h5>
    <div class="card-body">
        <h5 class="card-title">Property Expense Management System</h5>
        <p class="card-text">Your all in one property expense management system. Account registrations are now open and currently we are offering this as a free service.</p>
        <p class="card-text">Please contact our support team on 1300 112 221 if you have any queries.</p>
        {% if not user.is_authenticated %}
            <a href="{% url 'user_login' %}" class="btn btn-primary">Login</a>
            <a href="{% url 'user_register' %}" class="btn btn-success">Register Now</a>
        {% else %}
            <a href="{% url 'user_logout' %}" class="btn btn-primary">Logout</a>
        {% endif %}
    </div>
</div>
{% endblock content%}