<nav class="navbar navbar-expand-lg navbar-dark bg-dark pl-3 pr-3">
    <a class="navbar-brand" href="{% url 'home_page' %}">Northfield</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ home_link }}">
                <a class="nav-link" href="{% url 'home_page' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item  {{ asset_link }}">
                <a class="nav-link" href="{% url 'asset_list' %}">Asset</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tenant</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Stay</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Bill</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Invoice</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Settings</a>
            </li>
        </ul>
    </div>
</nav>
