{% extends "base.html" %}
{% load crispy_forms_tags %}
{%block content %}
<div class="card">
    <h5 class="card-header">Register</h5>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form|crispy }}
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
    <div class="card-footer text-muted">
        Already have an account? <a href="{% url 'user_login' %}">Sign In</a>
    </div>
</div>
{% endblock content%}