{% extends "website/base.html" %}
{% block content %}
<div class="card">
    <h5 class="card-header">Delete Service</h5>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <h2>Are you sure you want to delete {{ service.name }}?</h2>
            </div>
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
            <a class="btn btn-outline-secondary" href="{% url 'service_multiple_detail' service.id %}">Cancel</a>
        </form>
    </div>
</div>
{% endblock content %}