{% extends "website/base.html" %}

{% block content %}
<div class="card">
    <h5 class="card-header">{{ asset.name }}</h5>
    <div class="card-body">
        <h5 class="card-title">{{ asset.address }}</h5>
        <p class="card-text">{{ asset.suburb }} {{ asset.postcode }}</p>
        <p class="card-text">{{ asset.state }}</p>
        <p class="card-text"><small class="text-muted">Created at {{ asset.created }}</small></p>
        <p class="card-text"><small class="text-muted">Updated at {{ asset.updated }}</small></p>
    </div>
</div>
{% endblock content %}