{% extends "website/base.html" %}
{% block content %}
    <div class="card">
        <h5 class="card-header">{{ stay.tenant.first_name }} {{ stay.tenant.last_name }}</h5>
        <div class="card-body">
            <h5 class="card-title">{{ stay.tenant.asset.name }}</h5>
            <p class="card-text">Checkin : {{ stay.checkin }}</p>
            <p class="card-text">Checkout : {{ stay.checkout }}</p>
            <p class="card-text">
                <small class="text-muted">Created at {{ stay.created }}</small>
            </p>
            <p class="card-text">
                <small class="text-muted">Updated at {{ stay.updated }}</small>
            </p>
        </div>
    </div>
    <div class="card-footer">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item mr-2">
                        <a class="btn btn-primary" href="{% url 'stay_create' %}">Add New</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="btn btn-secondary" href="{% url 'stay_update' stay.id %}">Edit</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
{% endblock content %}
