{% extends "website/base.html" %}
{% block content %}
    <div class="card">
        <h5 class="card-header">All Stays</h5>
        <div class="card-body">
            {% if not stays %}
                <h5 class="card-title">You have no stays.</h5>
                <a class="btn btn-primary" href="{% url 'stay_create' %}">Create one?</a>
            {% else %}
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="btn btn-primary" href="{% url 'stay_create' %}">Add New</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Tenant</th>
                            <th scope="col">Checkin</th>
                            <th scope="col">Checkout</th>
                            <th scope="col">Asset</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for stay in stays %}
                            <tr>
                                <td><a href="{% url 'tenant_detail' stay.tenant.id %}">{{ stay.tenant.first_name }} {{ stay.tenant.last_name }}</a></td>
                                <td>{{ stay.checkin }}</td>
                                <td>{{ stay.checkout }}</td>
                                <td><a href="{% url 'asset_detail' stay.tenant.asset.id %}">{{ stay.tenant.asset.name }}</a></td>
                                <td><a href="{% url 'stay_detail' stay.id %}">View</a> |
                                    <a href="{% url 'stay_update' stay.id %}">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if is_paginated %}
                    {% if page_obj.has_previous %}
                        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                        <a class="btn btn-outline-info mb-4"
                           href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock content %}