{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
    <h5 class="card-header">Reset Password</h5>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form|crispy }}
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
    <div class="card-footer text-muted">
        Need an account? <a href="{% url 'user_register' %}">Sign Up</a>
    </div>
</div>
{% endblock content%}